<div class="conteiner__big-card">
    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqVXOItZ-LQem-1m1IzfQzYrQf0-tqzocXi4h2W541EHRQ3sqIXeSh4WIzcGt-6pZw_aw&usqp=CAU"
         alt=""
         height="200px"         
         srcset=""
        >
    </div>
    
    <div class="big-card__title">
        <h1><a href="#">a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                bla bla bla bla bla
            </a>
        </p>
    </div>
</div>
